aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altair==6.0.0
annotated-types==0.7.0
anyio==4.13.0
anywidget==0.10.0
asttokens==3.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
Bottleneck==1.6.0
bqplot==0.12.45
branca==0.8.2
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
dataclasses-json==0.6.7
db-dtypes==1.5.1
decorator==5.2.1
distro==1.9.0
docstring_parser==0.17.0
duckdb==1.5.1
eval_type_backport==0.3.1
executing==2.2.1
filelock==3.25.2
filetype==1.2.0
folium==0.20.0
fonttools==4.62.1
frozenlist==1.8.0
gdown==5.2.1
geojson==3.2.0
geopandas==1.1.3
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.2
google-auth==2.49.1
google-auth-oauthlib==1.3.1
google-cloud-aiplatform==1.146.0
google-cloud-bigquery==3.41.0
google-cloud-bigquery-storage==2.37.0
google-cloud-core==2.5.1
google-cloud-resource-manager==1.17.0
google-cloud-storage==3.10.1
google-cloud-vectorsearch==0.9.0
google-crc32c==1.8.0
google-genai==1.71.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
greenlet==3.4.0
grpc-google-iam-v1==0.14.4
grpcio==1.80.0
grpcio-status==1.80.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
iniconfig==2.3.0
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipyleaflet==0.20.0
ipython==9.10.1
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.11.3
ipyvuetify==1.11.3
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-leaflet==0.20.0
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
langchain==1.2.15
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.28
langchain-google-genai==4.2.1
langchain-google-vertexai==3.2.2
langchain-tests==1.1.6
langchain-text-splitters==1.1.1
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.13
langsmith==0.7.28
leafmap==0.61.1
maplibre==0.3.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
multidict==6.7.1
mypy_extensions==1.1.0
narwhals==2.19.0
numexpr==2.14.1
numpy==2.4.4
oauthlib==3.3.1
orjson==3.11.8
ormsgpack==1.12.2
packaging==26.0
pandas==2.3.3
pandas-gbq==0.34.1
parso==0.8.6
pillow==12.2.0
plotly==6.6.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==7.2.2
psygnal==0.15.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==22.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydata-google-auth==1.9.1
pydeck==0.9.1
Pygments==2.20.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
PySocks==1.7.1
pystac==1.14.3
pystac-client==0.9.0
pytest==9.0.3
pytest-asyncio==1.3.0
pytest-benchmark==5.2.3
pytest-codspeed==4.3.0
pytest-recording==0.13.4
pytest-socket==0.7.0
python-box==7.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.30.0
scooby==0.11.0
shapely==2.1.2
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.49
sqlalchemy-bigquery==1.16.0
stack-data==0.6.3
streamlit==1.56.0
syrupy==5.1.0
tenacity==9.1.4
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
traittypes==0.2.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
uuid_utils==0.14.1
validators==0.35.0
vcrpy==8.1.1
watchdog==6.0.0
wcwidth==0.6.0
websockets==16.0
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.15
wrapt==2.1.2
xxhash==3.6.0
xyzservices==2026.3.0
yarl==1.23.0
zstandard==0.25.0
